# Node modules
node_modules/

# Build outputs
dist/
build/
.vite/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Env files
.env*
.env
.env_pro
.env_dev
.env.local
.env.*.local

# Firebase

# Service account (ÇOK ÖNEMLİ)
serviceAccountKey.json

# IDE
.vscode/
.idea/

# Cache
.cache/
.vercel

# Firebase config files (ÇOK ÖNEMLİ)
src/firebase/production.ts
src/firebase/firebase.ts

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Test coverage
coverage/

# TypeScript
*.tsbuildinfo